{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/styles.css' %}">


<nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About Me</a></li>
      <li><a href="/work">My Work</a></li>
      <li><a href="/contact">Contact Me</a></li>
    </ul>
  </nav>
  
  <h1>Contact Me</h1>
  <p>You can reach me via email at r12345@gmail.com. You can also fill out the contact form bellow for inquiries.</p>
  <form action="#" method="post">
    <input type="text" name="name" placeholder="Your Name">
    <input type="email" name="email" placeholder="Your Email">
    <textarea name="message" placeholder="Your Message"></textarea>
    <button type="submit">Send</button>
  </form>
  
  